<main class="form-signin">
    <form [formGroup]="form" (submit)="submit()">
      <!-- <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
      <h1 class="h3 mb-3 fw-normal">Reset your password</h1>

      <div class="form-floating">
        <input formControlName="password" type="password" class="form-control" placeholder="Password">
        <label>Password</label>

        <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
          <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
          <div *ngIf="f['password'].errors && f['password'].errors['pattern']">
            The password must contain:
            <br>- At least one capital letter;
            <br>- At least one lowercase letter;
            <br>- At least one number;
            <br>- At least one special character</div>
        </div>
      </div>

      <div class="form-floating">
        <input formControlName="password_confirm" type="password" class="form-control" placeholder="Password confirm">
        <label>Password confirm</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
  </main>
